@font-face {
    font-family: 'custom';
    src: url(Cheese\ Burger.otf);
}


*{
    box-sizing: border-box;
}


header {
    background-image: linear-gradient(violet, white, blueviolet, purple);
    color:black;
    padding: 30px;
    text-align:center;
    font-size:35px;
    font-family: 'custom';
}

a {
    color: white;
}

nav {
    
    float: left;
    width: 30%;
    height: 300px;
    background: purple;
    padding: 20px;

}

nav ul {
    list-style-type: none;
    padding: 0;

}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 300px;

}

section:after {
    content: "";
    display: table;
    clear: both;

}

footer {
    background-image: linear-gradient(violet, white, blueviolet, purple);
    padding: 10px;
    text-align: center;
    color: black;
}

