@font-face {
    font-family: 'custom';
    src: url(Cheese\ Burger.otf);
}

@font-face {
    font-family: 'hi';
    src: url(Sunday\ Grapes.ttf);
}

*{
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: violet;
    padding: 20px;
    font-family: 'custom';
    font-size: 30px;
}

.contents {
    font-family: "hi";
}

nav ul{
    list-style-type: none;
    padding: 0;
}

.container-fluid {
    width: 100;
    background: violet;
}

article {
    height: 76vh;
}

footer {
    background-image: linear-gradient(violet, white, blueviolet, purple);
    padding: 10px;
    text-align: center;
    color: black;
}

#brandName {
    font-size: 40px;
}