#fancy {

    color:rgb(255, 5, 213);
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    font-family: italic;
    font-stretch: expanded; 
    text-decoration: underline;
    line-height: 100px
    
    }
    #hi {
        color:rgb(0, 255, 34);
    text-align: center;
    font-weight: 150;
    font-size: 50px;
    font-family: georgia;
    font-stretch: expanded; 
    text-decoration: underline;
    line-height: 100px
    }
    
    
    
        #text {
            color:aqua;
            font-family: georgia;
            font-size: 40px;
            text-decoration: underline;
        }
    
    
        .square {
            width: 200;
            height: 200;
            padding: 10px;
            display: inline-block;
            border: 2px solid red;
        }
    
        .square h1 {
             color:deepskyblue
        }
    
        .border {
            width: 200;
            height: 200;
        }